@page "/BillTable"
@attribute [TabItemOption(Text = "Table")]

<PageTitle>Table</PageTitle>

<h1>订单总览页</h1>

<div class="mt-3">@(string.Join(",", PersonItems.SelectedUiItems))</div>

<div class="mt-3">@(string.Join(",", PersonItems.SelectedUiItems))</div>

<Table TItem="Bill" Items="@BillResults" IsPagination="true" PageItemsSource="PageItemsSource"
       IsStriped="true" IsBordered="true" ShowSkeleton="true" IsMultipleSelect="false"
       ShowToolbar="true" ShowSearch="true" ShowExtendButtons="true"
       AutoGenerateColumns="false" EditMode="EditMode.Popup" OnSaveAsync="OnSaveAsync">
    <TableColumns>
        <TableColumn @bind-Field="@context.DateTime" FormatString="yyyy-MM-dd"/>
        <TableColumn @bind-Field="@context.BillPersons" Text="人员">
            <Template Context="value">
                <div class="row g-3">
                    @foreach (var billPerson in (List<BillPerson>)value.Value)
                    {
                        <div class="col-4 col-sm-auto">
                            <Tag Color="Color.Info">@billPerson.Person.Name</Tag>
                        </div>
                    }
                </div>
            </Template>
            <EditTemplate Context="value">
                <div class="col-12 col-sm-6">
                    <MultiSelect Items="@PersonItems.UiItems" @bind-Value="@PersonItems.SelectedUiItems"
                                 Max="4" Min="1"
                                 DisplayText="人员"
                                 OnSelectedItemsChanged="@(items => OnSelectedPersonItemsChanged((Bill)value, items))">
                    </MultiSelect>
                </div>
            </EditTemplate>
        </TableColumn>
        <TableColumn @bind-Field="@context.BillTypes">
            <Template Context="value">
                <div class="row g-3">
                    @foreach (var billType in (List<BillType>)value.Value)
                    {
                        <div class="col-4 col-sm-auto">
                            <Tag Color="Color.Primary">@billType.Name</Tag>
                        </div>
                    }
                </div>
            </Template>
            <EditTemplate Context="value">
                <div class="col-12 col-sm-6">
                    <MultiSelect Items="@BillTypeItems.UiItems" @bind-Value="@BillTypeItems.SelectedUiItems"
                                 Max="4" Min="1"
                                 DisplayText="订单种类"
                                 OnSelectedItemsChanged="@(items => OnSelectedBillTypeItemsChanged((Bill)value, items))">
                    </MultiSelect>
                </div>
            </EditTemplate>
        </TableColumn>
        <TableColumn @bind-Field="@context.Brief"/>
        <TableColumn @bind-Field="@context.Price"/>
        <TableColumn @bind-Field="@context.BillState"/>
        <TableColumn @bind-Field="@context.RbsType">
            <Template Context="value">
                @(value.Row.RbsType == RbsType.Rbs ? "可报销" : "不可报销")
            </Template>
        </TableColumn>
        <TableColumn @bind-Field="@context.Assets">
            <Template Context="value">
                <PdfView Assets="@value.Row.Assets"/>
            </Template>
        </TableColumn>
    </TableColumns>
</Table>